button {
  cursor: pointer;
  outline: none;

  &:disabled { cursor: not-allowed; }
}

.btn {
  text-align: center;
  min-width: 80px;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  background-color: #576077;
  font-size: 12px;

  + .btn {
    margin-left:  8px;
  }

  &.primary { background-color: $primary; }
  &.success { background-color: $success; }
  &.warning { background-color: $warning; }
  &.error { background-color: $error; }
  &.search {
    padding: 8px 16px;
    min-width: 80px;
    font-size: 12px;
    color: #fff;
    border: 1px solid $theme;
    background-color: $theme;
    border-radius: 3px;
    margin-left: 10px;
    vertical-align: middle;
  }

  &.blue { background-color: $blue; }
  &.gray { background-color: $gray; }
  &.white { background-color: #fff; border: 1px solid #000; color: #000; }
  &.small { min-width: 40px; padding: 4px 8px; }
}
