.search_wrap {
  position: relative;
  margin: 13px 0;
  height: auto;
  font-size: 13px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;

  > * { vertical-align: middle; }

  label {
    margin-right: 10px;
  }

  input[type="checkbox"] {
    width: 18px;
    margin-right: 8px;
  }

  input[type="radio"] {
    width: 18px;
    margin-right: 8px;
  }

  input, select {
    width: 150px;
  }

  .btn-search {
    padding: 8px 16px;
    min-width: 80px;
    font-size: 12px;
    color: #fff;
    border: 1px solid $theme;
    background-color: $theme;
    border-radius: 3px;
    margin-left: 10px;
    vertical-align: middle;
  }

  .search_wrap-label {
    cursor: pointer;
    content: '';
    position: absolute;
    left: 5px;
    bottom: -8px;
    width: 80px;
    height: 8px;
    border-radius: 0 0 3px 3px;
    background-color: $border;

    transition: background-color .2s;

    &.open { display: none; }
    &.close { display: inherit; }

    &:hover {
      background-color: $primary;
    }
  }
}

.search_wrap.folder {
  margin-top: -16px;

  &.close { display: none; }
  &.open { display: block; }

  .search_wrap-label.folder {
    &.close { display: none; }
    &.open { display: inherit; }
  }
}

.separator {
  color: $border;
  margin: 0 10px;
}