@import '@/../colony-vue/src/assets/scss/variable.scss';

$primary: #007EFF;
$primary-hover: rgba(#007EFF, .04);
$primary-light: #B2B8EE;

$success: #42b983;
$warning: #ff9900;
$error: #ed3f14;

$background: #EEE;
$disabled: #E9E9E9;
$border: #D6D6D6;

$theme: #272E3F;
